<!DOCTYPE html>
<html>
<head>
        <link rel="icon" href="data:;base64,iVBORw0KGgo=">
</head>
<body>
       <!-- <div style="width: 1000px; margin: 0 auto;"></div>-->
       <%= Title %>
    <form action="http://localhost:6100/login" method="post", id="myForm">
        <label for="id">id</label>
        <input type="text" name="id">
        <label for="pw">pw</label>
        <input type="text" name="pw">
        <button type="summit">전송</button>
    </form>
  </body>
</html>