<!DOCTYPE html>
<html>
<head>
  <title>Log In</title>
</head>
<body>
    <form action="http://localhost:6100/login" method="post", id="myForm">
        <label for="id">id</label>
        <input type="text" name="id">
        <label for="pw">pw</label>
        <input type="text" name="pw">
        <button type="summit">전송</button>
    </form>
  </body>
</html>